<div>
<h1>Public Recipes</h1>
<ul class="recipes-list">
       <% if @recipes.empty? %>
        <li>
            There are not public recipes yet...
        </li>
        <% end %>
        <% @recipes.each do |recipe|%>
        <li>
            <div class="recipe-card-header">
             <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
             <h4>By: <%= recipe.user.name %> </h4>
            </div>

            <div>
              <h4> Total food items: <%= recipe.recipe_foods.count %> </h4>
              <% total = 0 %>
              <% recipe.recipe_foods.each do |pr_food| %>
              <% total += (pr_food.quantity.to_i * pr_food.food.price) %>
              <% end %>
              <h4> Total price: $<%= total %> </h4>
            </div>
        </li>
        <% end %>
</ul>
</div>
