<div>
<h1>Public Recipes</h1>
<ul class="recipes-list">
       <% if @recipes.empty? %>
        <li>
            There are not public recipes yet...
        </li>
        <% end %>
        <% @recipes.each do |recipe|%>
        <li>
            <div class="recipe-card-header">
             <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
             <h4>By: <%= recipe.user.name %> </h4>
            </div>

            <div>
               <p><%= "Total price: $#{total_price_recipe(recipe)}" %></p>
            <p><%= "Number of ingredients: #{total_ingredients_recipe(recipe)}" %></p>
            </div>
        </li>
        <% end %>
</ul>
</div>
