<div class="recipes-container">
    <ul class="recipes-list">
        <% @recipes.each do |r|%>
        <li>
            <div class="recipe-card-header">
            <%= link_to r.name, recipe_path(recipe) %>

            <%# Pending add cancan to handle authorization to delete a recipe %>
            <%= button_to 'Remove', recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure?' }%>
            </div>

            <p class="recipe-description"><%= recipe.description %> </p>
        </li>
        <% if !@recipes %>
        <li>
            Please add a recipe...
        </li>
    </ul>
</div>